
.env
/sip_venv


/sec_filings

/edgartools

/CUSTOMERS
/SEC/files

/recon
/GENAI_Collateral
/PLTR

/images/LOGOS_output

/cis_ServiceNow

/learn_ServiceNowCIS
/data_GenAI
/data_Recon
/past_work
/alskarmebok

/interview_prod
/interview_dev
/interview_data


/app_EdgarSEC/sec_data

/app_FilesRenameAndStructure/file_type_converter.ipynb

/ZZZZzzzz

/Users/sudz4/Desktop/SERVICENOW-INTERVIEW/servicenow-interview-proj/app_FilesRenameAndStructure/iixs_and_svgs

# servicenow sn_utitls scriptsync files

/autocomplete
jsconfig.json
/dev183520/scopes.json
dev183520/settings.json
dev183520/x_443728_matt_s_ge/sys_rest_message_fn
dev183520/x_443728_matt_s_ge/sp_widget
dev183520/x_443728_matt_s_ge/sp_page

_map.json



/sip2_venv


##### CLEAN AREA WORK IN PROGRESS #####
/venv_now
/app_JobShortList/recon
/app_SOWmAcHiNe_2019/DEMO_SOWmAcHiNe2